

$primary-color: #00796b;
$primary-light-color: #48a999;
$primary-dark-color: #004c40;

$secondary-color: #1976d2;
$secondary-light-color: #63a4ff;
$secondary-dark-color: #004ba0;

$text-color: #424242;

$text-primary-color: #fff;
$text-secondary-color: #fff;
